# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments & Virtualenv
.env
.env.*
!.env.example
venv/
env/
ENV/
.venv/

# Build and Distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Angular & Node
contractiq_frontend/node_modules/
contractiq_frontend/.angular/
contractiq_frontend/dist/
node_modules/
.angular/
dist/

# Logs & Temporary
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
main_diff.txt

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
